body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #FFEFC2;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.newBackground {
  background-position: 'center';
  background-size: 'cover';
  background-repeat: 'no-repeat';
  width: '100vw';
  height: '100vh';
}

.Position {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  height: 200px;
  position: relative;
}

.Top-left {
  align-self: flex-start;
  left: 0;
  top: 0;
  position: absolute;
}

.Align {
  display: flex;
  align-items: center;
  justify-content: center;
}

.list label {
  background: 'linear-gradient(45deg, #FFC52A 30%, #F69515 90%)';
  border-radius: 30px;
  color: 'white';
  height: 48px;
  padding: '0 30px';  
  margin-top: '16px';
  text-transform: 'none';
  font-size: 20px;
  font-weight: bold;
  border: 0.6mm solid black;
  border-radius: 20px;
  cursor: pointer;
}

.list input {
  display: none;
}

.list input:checked + label {
  color: rgb(0, 120, 230);
  border-color: rgb(13, 150, 255);
  background: rgb(230, 245, 255);
}

.hexagon:before {
  content: " ";
  width: 0; height: 0;
  border-bottom: 165px solid white;
  border-left: 286px solid transparent;
  border-right: 286px solid transparent;
  position: absolute;
  top: -165px;
}

.hexagon {
  margin-top: 165px;
  width: 572px;
  height: 330px;
  background-color: white;
  position: relative;
}

.hexagon:after {
  content: "";
  width: 0;
  position: absolute;
  bottom: -165px;
  border-top: 165px solid white;
  border-left: 286px solid transparent;
  border-right: 286px solid transparent;
  z-index: 1;
}

/*
.hexagon {
  height: 0;
  width: 150px;
  border-top: 150px solid white;
  border-right: 100px solid transparent;
  border-left: 100px solid transparent;
  position: relative;
  top: 300px;
}

.hexagon:after{
  position: absolute;
  content: '';
  height: 0;
  width: 150px;
  border-bottom: 150px solid white;
  border-right: 100px solid transparent;
  border-left: 100px solid transparent;
  left: -100px;
}
*/
.bg {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 1;
}